@page
@using ImageMagick
@model IndexModel


@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

@*    Read image from file*@    
    @{
        var image = new MagickImage("C:\\Users\\Abraham\\Desktop\\testPhotoMetaData\\PhotoMetaData\\PhotoMetaData\\wwwroot\\Image\\Brown_3.jpg");

        // Retrieve the exif information
        var profile = image.GetExifProfile();

        // Check if image contains an exif profile
        if (profile is null)
            Console.WriteLine("Image does not contain exif information.");
        else
        {
            // Write all values to the console
            foreach (var value in profile.Values)
            {
                <p>this is the tag @value.Tag</p><br />
                <P>This is the DataType @value.DataType</P><br />
                <p>This is the value .ToString @value.ToString()</p>
                Console.WriteLine("{0}({1}): {2}", value.Tag, value.DataType, value.ToString());
            }
        }

    }
</div>
